name: test-release

on:
  push:
    tags:
      - "test-[0-9]+.[0-9]+.[0-9]+"

env:
  PACKAGE_NAME: "qrcode-pretty"
  OWNER: "mrinfinidy"

jobs:
  details:
    runs-on: ubuntu-latest
    outputs:
      tag_name: ${{ steps.release.outputs.tag_name }}
      version: ${{ steps.release.outputs.version }}
    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Extract version
        id: release
        run: |
          TAG_NAME=${GITHUB_REF#refs/tags/}
          PYPROJECT_VERSION=$(uv version)

          echo "tag_name=$TAG_NAME" >> "$GITHUB_OUTPUT"
          echo "version=$PYPROJECT_VERSION" >> "$GITHUB_OUTPUT"

          echo "Tag:  $TAG_NAME"
          echo "pyproject.toml version: $PYPROJECT_VERSION"
          echo "Note: Test releases don't require version match"

  setup_and_build:
    needs: [details]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: pyproject.toml

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Build distribution
        run: uv build

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: dist
          path: dist/
  pypi_publish:
    name: Upload release to PyPI
    needs: setup_and_build
    runs-on: ubuntu-latest
    environment:
      name: test-release
    permissions:
      id-token: write
    steps:
      - uses actions/checkout@v6
      - name: Download artifacts
        uses: actions/download-artifact@v6
        with:
          name: dist
          path: dist/

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Publish to TestPyPI
        run: uv publish --publish-url https://test.pypi.org/legacy/
